@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto.eot');
    src: url('./fonts/Roboto.eot') format('embedded-opentype'),
    url('./fonts/Roboto.woff2') format('woff2'),
    url('./fonts/Roboto.woff') format('woff'),
    url('./fonts/Roboto.ttf') format('truetype');
}

#root {
    padding: 32px;
}

@media screen and (max-width: 720px) {
    #root {
        padding: 16px;
    }
}

#wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

@media screen and (max-width: 400px) {
    h2:first-child {
        margin-right: 100px;
    }
}

p, ul, li, input[type="text"], textarea {
    font-family: 'Roboto', sans-serif;
}