* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Russo One', sans-serif;
  vertical-align: baseline;
  box-sizing: border-box;
  user-select: none;

}

html, body {
  background-color: #000;
  color: #fff;
}

h2 {
  font-size: 36px;
  margin: 23px 0 50px;
}